// bodyContent
.bodyContent {
    background-color: rgb(254, 254, 254);

    position: relative;
    padding-top: 10px;

    &::before {
        content: "";
        height: 10px;
        display: block;
        background-image: linear-gradient(to bottom, rgb(231, 231, 231), rgb(254, 254, 254));
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}